/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
body{
	margin: 0;
	padding:0;
}
.navbar{
	margin-bottom: 0px;
}
.bg{
	/* background-image: url(../img/bg2.jpg); */
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 350px;
	margin: auto;
    padding-top: 83px;
    padding-left: 86px;
}
.form-control{
	width: 100%;
	background-color: transparent;
	border:none;
	border-bottom: 3px solid #fff;
	outline: none;
	color: #fff;
	font-style:18px;

}
.form-control:hover{
	font-style:10px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.btn{
	margin-left: -83px;
}
.add-bg{
	/* background-image: url(../img/add-bg.jpeg); */
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 350px;
	margin: auto;
	padding-top: 83px;
    padding-left: 86px;
}
.btn-grey {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
  margin-left: 0px;
}
.btn-grey:focus,
.btn-grey.focus {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
.btn-grey:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
.home-bg{
	/* background-image: url(../img/home-bg.jpg); */
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
    height: 573px;
    margin: auto;
    text-align: center;
    padding-top: 94px;
}
.home-bg h1{
	font-size:100px;
}
h5{
	font-size: 23px;
}
span{
	font-weight: bold;
}
